<div>lots of fuckin companies yo</div>

<form action="<%= companies_url %>" class="new_company_form" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="text" name="company[name]" placeholder="Company Name" />
  <input type="text" name="company[ticker]" placeholder="Ticker Symbol" />

  <input type="submit" />
</form>

<% symbols = [] %>
<% @financial_data.css('symbol').each do |symbol_el| %>
  <% symbols.push(symbol_el.text) %>
<% end %>

<% @companies.each_with_index do |company, idx| %>
  <div><%= company.name %>: <%= company.ticker %></div>
  <div>Nokogiri symbol: <%= symbols[idx] %></div>
  <%= react_component("OneDayStockPrice") %>
  <img src="<%= "http://chart.finance.yahoo.com/z?s=" + company.ticker.upcase + "&t=6m&q=l&l=on&z=s&p=m50,m200" %>"/>
  <img src="<%= "http://ichart.finance.yahoo.com/b?s=" + company.ticker.upcase %>"/>
<% end %>
